@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer components {
  .navButton {
    @apply  w-24 bg-stone-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2;
  }
  .form-control {
    @apply ml-5 border-2 border-gray-200 rounded-lg py-2 px-4;
  }
  .formbuilder-text {
    @apply gap-y-2
  }
}