@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer components {
  .navButton {
    @apply  mt-3 bg-gradient-to-r from-gray-800 to-gray-700  hover:scale-110 text-white font-bold py-2 px-4 rounded align-middle;
  }
  .form-control {
    @apply ml-5 border-2 border-gray-200 rounded-lg py-2 px-4;
  }
  .formbuilder-text {
    @apply gap-y-2
  }
  .input-form {
    @apply bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
  }
  .input-label {
    @apply block text-black font-bold md:text-right mb-1 md:mb-0 pr-4;
  }
  html {
    @apply bg-fixed bg-louvre-image bg-no-repeat;
  }
}